*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Silkscreen', cursive;
}

body{
    background-color: black;
    height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock{
    position: relative;
    width: 700px;
    height: 700px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.clock::before, .clock::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 7px);
    height: calc(100% + 7px);
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055,
    #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff);
    background-size: 300%;
    font: bold 2em 'Century Gothic';
    text-transform: uppercase;
    animation: AnimarBorda 8s linear alternate infinite;
}

@keyframes AnimarBorda{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 300%;
    }
}

.clock::after{
    filter: blur(50px);
}

.clock .number{
        --rotation: 0;

    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.8rem;
    font-weight: 500;
    padding: 15px;
    color:  white;
}

.clock .number.number-1{
    --rotation: 30deg;
}
.clock .number.number-2{
    --rotation: 60deg
}
.clock .number.number-3{
    --rotation: 90deg
}
.clock .number.number-4{
    --rotation: 120deg
}
.clock .number.number-5{
    --rotation: 150deg
}
.clock .number.number-6{
    --rotation: 180deg
}
.clock .number.number-7{
    --rotation: 210deg
}
.clock .number.number-8{
    --rotation: 240deg
}
.clock .number.number-9{
    --rotation: 270deg
}
.clock .number.number-10{
    --rotation: 300deg
}
.clock .number.number-11{
    --rotation: 330deg
}

/* Ponteiros */

.clock::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 11;
    background-color: wheat;
    transform: translate(-50%, -50%);
}

.clock .hand{
    --rotation: 0;
    
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: wheat;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.clock .hand.seconds{
    width: 3px;
    height: 40%;
    background-color: red;
}

.clock .hand.minutes{
    width: 7px;
    height: 35%;
    background-color: wheat;
}

.clock .hand.hours{
    width: 7px;
    height: 25%;
    background-color: wheat;
}